.contato{
    margin-left: 160px;
}

#contato-maintittle{
    color: #565756;
    font-family: Playfair Display SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.contato-list{
    display: flex;
}

#contato-list{
    padding: 50px;
}

@media screen and (max-width: 1290px) {
    .contato{
        margin-left: 40px;
    }

    .contato-list{
        display: block;
    }

    #contato-list-itens{
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .contato{
        margin-left: 5px;
    }

    #contato-maintittle{
        font-size: 32px;
    }

    .contato-list{
        display: block;
    }

    #contato-list-itens{
        padding: 0px;
    }
}

@media screen and (max-width: 415px) {
    .contato{
        margin-left: 5px;
    }

    #contato-maintittle{
        font-size: 32px;
    }

    .contato-list{
        display: block;
    }

    #contato-list-itens{
        padding: 0px;
    }

    .contato-list-map{
        max-width: 380px;
    }
}

@media screen and (max-width: 380px) {
    .contato{
        margin-left: 5px;
    }

    #contato-maintittle{
        font-size: 32px;
    }

    .contato-list{
        display: block;
    }

    #contato-list-itens{
        padding: 0px;
    }

    .contato-list-map{
        max-width: 300px;
        max-height: 500px;
    }
}