.menu{
    max-width: var(--width);
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--background-green);
    color: #fff;
    display: flex;
}

.menu-list{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.menu-link a{
    color: var(--color-white);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 15px;
    display: inline-flex;
}

.menu-link a:hover{
    color: #814813;;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

		.js-list{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .js-list{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }


    .js-list.active{
        display: block;
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}

@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}